{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table id="myTable" class="display" >
            <thead>
                    <th>Name</th>
                    <th></th>
                    <th>Category</th>
                    <th>Buy price</th>
                    <th>Sell Price</th>
            </thead>
            <tfoot>
                    <th>Name</th>
                    <th></th>
                    <th>Category</th>
                    <th>Buy price</th>
                    <th>Sell Price</th>
            </tfoot>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}<td>
                    <td>{{ product.category }}</td>
                    {% if product.buyqty == -1  %}
                        <td class="bg-warning">Not sellable</td>
                        {% elseif product.buyname == 'ItemGoldBar10oz' %}
                        <td class="bg-success">Gold 10-oz x {{ product.buyqty }}</td>
                        {% elseif product.buyname == 'ItemBriefcase100oz' %}
                        <td class="bg-success">Gold briefcase x{{ product.buyqty }}</td>
                        {% elseif product.buyname == 'ItemGoldBar' %}
                        <td class="bg-success">Gold x{{ product.buyqty }}</td>
                        {% elseif product.buyname == 'ItemSilverBar' %}
                        <td class="bg-success">Silver x{{ product.buyqty }}</td>
                        {% elseif product.buyname == 'ItemSilverBar10oz' %}
                        <td class="bg-success">Silver 10-oz x{{ product.buyqty }}</td>
                    {% endif %}
                        {% if product.sellqty == -1  %}
                            <td class="bg-warning">Not sellable</td>
                        {% elseif product.sellname == 'ItemGoldBar10oz' %}
                            <td class="bg-success">Gold 10-oz x {{ product.sellqty }}</td>
                        {% elseif product.sellname == 'ItemBriefcase100oz' %}
                            <td class="bg-success">Gold briefcase x{{ product.sellqty }}</td>
                        {% elseif product.sellname == 'ItemGoldBar' %}
                            <td class="bg-success">Gold x{{ product.sellqty }}</td>
                        {% elseif product.sellname == 'ItemSilverBar' %}
                            <td class="bg-success">Silver x{{ product.sellqty }}</td>
                        {% elseif product.sellname == 'ItemSilverBar10oz' %}
                            <td class="bg-success">Silver 10-oz x{{ product.sellqty }}</td>
                    {% endif %}
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
